<h1>Display your Pirate here</h1>

<ul>
  <li><%= @pirate.name %></li>
  <li><%= @pirate.weight %></li>
  <li><%= @pirate.height %></li>
</ul>

<h2>Display your first ship here</h2>

<ul>
  <li><%= @ship1.name %></li>
  <li><%= @ship1.type %></li>
  <li><%= @ship1.booty %></li>
</ul>


<h2>Display your second ship here</h2>

<ul>
  <li><%= @ship2.name %></li>
  <li><%= @ship2.type %></li>
  <li><%= @ship2.booty %></li>
</ul>
